@use 'core/reset';
@use 'components/code';
@use 'components/links';
@use 'layout/page';
@use 'layout/header';
@use 'layout/footer';
@use 'pages/index';
@use 'pages/ultimasactuaciones';
@use 'pages/noticias';
@use 'pages/acerca';